COST_CONTROL_ENABLED=true
COST_CONTROL_SHADOW_MODE=true
COST_CONTROL_ENFORCE_DIRECT_CALL_BLOCK=false
COST_CONTROL_MAX_AI_CALLS_PER_WORKFLOW=2
COST_CONTROL_MAX_AGENT_CALLS_PER_CLIENT_DAY=2
COST_CONTROL_STANDARD_MONTHLY_TOKENS=100000
COST_CONTROL_PREMIUM_MONTHLY_TOKENS=500000
